@using BlazorApp1.Client.Components
@page "/"

<PageTitle>Index</PageTitle>

<h1>Todo application</h1>

Witaj w aplikacji ToDo! U nas szybko dodasz, usuniesz i zmodyfikujesz zadania. Śledź postępy i przypisuj zadania pracownikom, aby było jeszcze łatwiej. Organizuj obowiązki i zacznij zarządzać zadaniami już teraz!








