.my-modal[b-tdw01iv4r7] {
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.my-modal-content[b-tdw01iv4r7]
{
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 5px 20px 40px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*    animation-name: animatetop;
    animation-duration: 0.4s;*/
}


 Dodaj tylko prefiksy[b-tdw01iv4r7], które są potrzebne 
@-webkit-keyframes animatetop[b-tdw01iv4r7] {
    from {
        top: -30px;
        opacity: 0;
    }

    to[b-tdw01iv4r7] {
        top: 0;
        opacity: 1;
    }
}

.close[b-tdw01iv4r7]
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover[b-tdw01iv4r7],
.close:focus[b-tdw01iv4r7]
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.my-modal__btns[b-tdw01iv4r7] {
    display: flex;
    column-gap: .5rem;
    justify-content: center;
}

.my-modal__heading[b-tdw01iv4r7]
{
    margin: 3rem 1rem 0 1rem;
    text-align: center;
    line-height: 1.2;
    font-size: 1.4rem;
}

.my-modal__body[b-tdw01iv4r7]
{
    display: block;
    margin: 2rem 2rem 2rem;
    color: #6c757d;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2;
}

.my-modal__accept[b-tdw01iv4r7] {
    padding: .4rem, 2rem;
    background: #28a745;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    flex: 1;
    max-width: 150px;
    margin: 0 5px;
    margin-top: 10px;
}

.my-modal__accept:hover[b-tdw01iv4r7]
{
    background: #31c553;
}

.my-modal__cancel[b-tdw01iv4r7] {
    padding: .4rem 2rem;
    background: #737373;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    flex: 1;
    max-width: 150px;
    margin: 0 5px;
    margin-top: 10px;
}

.my-modal__cancel:hover[b-tdw01iv4r7]
{
    background: #999999;
}

.form-group[b-tdw01iv4r7] {
    display: block;
    margin-bottom: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .my-modal-content[b-tdw01iv4r7] {
        width: 600px;
    }

    .my-modal__heading[b-tdw01iv4r7] {
        font-size: 1.8rem;
    }

    .my-modal__body[b-tdw01iv4r7] {
        font-size: 1.3rem;
    }
}